.pageMap-map {
    height: 93vh;
    width: 100vw;
    margin: auto;
    z-index: 0;
}

.pageMap-form {
    background-color: #f5f5f5;
    position: absolute;
    top: 8%;
    left: 73%;
    width: 338px;
    height: 455px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Zen Kurenaido';
}

.pageMap-form>form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 370px;
    justify-content: space-evenly;
}

.pageMap-form__close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.pageMap-form__titulo input {
    border-radius: 5px;
    padding: 8px 12px;
    border: 1px solid black;
}

.pageMap-form__titulo,
.pageMap-form__tipo,
.pageMap-form__descricao {
    display: flex;
    flex-direction: column;
}

.pageMap-form__datas, .pageMap-form__botoes {
    display: flex;
    justify-content: space-between;
}

.pageMap-form__tipo-buttons {
    display: flex;
    justify-content: space-between;
}

.pageMap-form__tipo__option label,
.pageMap-form__tipo__option input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.pageMap-form__tipo__option {
    width: 85px;
    height: 33px;
    position: relative;
    cursor: pointer;
}

.pageMap-form__tipo__option input[type="radio"]:checked+label {
    background-color:#D3D3D3;
}

.pageMap-form__tipo__option label {
    background-color: white;
    margin-top: auto;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    line-height: 33px;
}

.pageMap-form__datas__picker {
    padding: 8px 8px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.pageMap-form label,
.pageMap-form button,
.pageMap-form__images h6 {
    font-size: 12px;
}

.pageMap-form__images {
    display: flex;
    height: 55px;
}

.pageMap-form__images h6 {
    margin: 0;
    font-weight: 400;
    margin-bottom: 3px;
}

.pageMap-form__images p {
    font-size: 12px;
    margin-top: 25px;
    margin-left: 10px;
}

.end_date {
    margin-left: 12px;
}

.pageMap-form h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}

.pageMap-form__descricao textarea {
    border-radius: 5px;
    padding: 8px 12px;
    height: 87px;
}

.pageMap-form__botoes button {
    padding: 8px 12px;
    width: 130px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Zen Kurenaido';
}

#input_image {
    display: none;
}

input#input_image + label {
    background-color: #D3D3D3;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000000;
    display: flex;
    width: 129px;
    height: 35px;
    justify-content: space-between;
}

.upload-icon {
    margin-left: 5px;
}